
.content {
    padding-top: 10px;
}

.row {
    display: flex;
    gap: 20px;
}

mat-form-field {
    width:100%
}

mat-radio-group {
    width:100%;
}


.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
    width: 100%;
  }

  .action {
    padding: 0px 25px 20px;
    button {
        flex:1;
    }
  }